.input-group {
    position: relative;

    .flag {
        opacity: .5;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        z-index: z-index(above-content);
    }

    $input-group-addon-selector: '.input-group-addon';
    @for $i from 1 through 5 {
        #{$input-group-addon-selector} + .flag {
            right: 45px * $i;
        }
        $input-group-addon-selector: #{$input-group-addon-selector} + #{'.input-group-addon'};
    }
}

.input-group-addon {
    user-select: none;
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #868e96;
    border-radius: 0;

    .form-control ~ & {
        margin-left: -1px;
    }
    & ~ .form-control {
        margin-left: -1px;
    }
}